<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React + TS</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
    <script>
      const ps_outfits = [
          {
              "picture": "https://assets-forwardvia-com.s3.amazonaws.com/images/_1200x630_crop_center-center_none/UK-Drip6.jpg",
              "name": "swag",
              "description": "This is really cool",
              "id": "bbbb"
          },
          {
              "picture": "https://assets-forwardvia-com.s3.amazonaws.com/images/_1200x630_crop_center-center_none/UK-Drip6.jpg",
              "name": "swag",
              "description": "This is really cool",
              "id": "lalal"
          }
      ]
    </script>
  </body>
</html>
